@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
body {
  margin: auto;
}

main h2,
main p {
  padding: 0 1rem;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

nav div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

nav img {
  width: 9rem;
}

.illustration {
  width: 100%;
}

.flex-container2 {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.flex-container2 img {
  width: 12%;
  border-radius: 100%;
}

.flex-container3 {
  display: flex;
  flex-direction: column;
}
.flex-container3 p {
  margin: 0;
}

.end-main {
  background-color: hsl(238, 22%, 44%);
  color: hsl(240, 75%, 98%);
}

.end-main p {
  text-align: inherit;
  margin: 0 0.5rem;
  padding-bottom: 2rem;
}

footer {
  background-color: hsl(243, 87%, 12%);
  color: hsl(240, 75%, 98%);
  padding-top: 1rem;
}

footer div div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 1rem;
  padding: 1rem 0;
}

.flex-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.flex-container p {
  margin: 0;
}

a {
  text-decoration: none;
}

nav div a {
  color: black;
  font-weight: 500;
}

article {
  text-align: center;
  padding: 5rem 0;
}

input,
button {
  width: 80%;
  padding: 1rem;

  border-radius: 4px;
}

button {
  width: 90%;
  border: 0;
  margin-top: 1rem;
  background-color: hsl(224, 93%, 58%);
  color: hsl(240, 75%, 98%);
}

.article2 {
  padding: 0;
}

.article2 p {
  text-align: left;
}

.baground2 {
  margin-top: -2rem;
  background-color: #f8f8fe;
  padding-bottom: 2rem;
}

.color-green a {
  color: hsl(170, 45%, 43%);
}

.color-green {
  display: flex;
  justify-content: center;
  gap: 1rem;
  border-bottom: 3px solid hsl(170, 45%, 43%);
  margin: 0;
}

.comment {
  background-color: white;
  margin: 1.6rem;
  text-align: left;
  padding: 1rem 0.1rem 1rem 1rem;
  font-size: 13px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.comment p {
  padding: 0;
}

footer figure {
  width: 60%;
  padding-bottom: 1rem;
  margin-left: 1.5rem;
}

footer div div a {
  color: white;
  margin: 0 1rem;
}

.flex-container4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.desctop {
  display: none;
}

.mobile {
  display: block;
}

@media (min-width: 1400px) {
  .raleway {
    font-weight: 700;
  }
  header {
    margin: 2rem;
  }
  nav {
    justify-content: space-between;
  }

  nav img {
    width: 20%;
  }

  nav div {
    margin-right: 1rem;
  }
  main article {
    text-align: left;
  }
  .desctop-flex {
    display: flex;
    flex-direction: row-reverse;

    justify-content: space-between;
  }
  .desctop-flex div {
    width: 55%;
  }
  .desctop-flex div h2 {
    width: 70%;
  }
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 75%;
    margin-left: 1rem;
  }
  button {
    margin: 0;
    width: 40%;
  }
  .desctop {
    display: block;
  }

  .mobile {
    display: none;
  }

  .baground2 {
    display: flex;
    flex-direction: row-reverse;
  }

  .baground2 div {
    width: 55%;
  }
  .baground2 div h3 {
    padding: 1rem;
    font-size: 1.95rem;
  }
  .color-green {
    margin: 1rem;
  }

  .comment {
    margin: 1rem;
  }

  .flex-container2 img {
    width: 25%;
    border-radius: 100%;
  }
  .end-main {
    display: flex;
    flex-direction: row;
  }
  .end-main div p {
    width: 67%;
  }
  .end-main div h3 {
    margin: 1.5rem;
    font-size: 2rem;
  }

  .end-main form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  footer figure {
    width: 20%;
  }
  footer {
    padding: 10rem;
  }
  footer div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  footer div div {
    gap: 0;
    display: flex;
    flex-direction: column;
  }

  .flex-container4 img {
    width: 50%;
    height: 50%;
  }
}
