.bagraund-gradient {
  background-image: linear-gradient(to bottom, #ff0000a4, #892be2a2);
  z-index: 2;
  height: 100vh;
}
body {
  margin: auto;
  color: white;
  background-image: url(images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: sans-serif;
}

header {
  text-align: center;
}

main {
  text-align: center;
}

article {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  width: 80%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-align: left;
  gap: 1rem;
}

img {
  width: 20%;
}

input,
textarea {
  background-color: rgba(255, 255, 255, 0.575);
  border: 0;
  padding: 0.3rem;
}

textarea {
  height: 15vh;
}

button {
  background-color: red;
  color: white;
  border: 0;
  width: 100%;
  border-radius: 32px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.w p {
  display: none;
}

@media screen and (min-width: 1024px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  header div {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  form {
    width: 30%;
  }

  article {
    flex-direction: row-reverse;
    justify-content: center;
    gap: 1rem;
  }
  .w p {
    display: block;
  }
  .w {
    width: 20%;
    text-align: left;
  }

  .w h2 {
    font-size: 2rem;
  }
}
